body{font-family: Arial, sans-serif; max-width: 1200px; margin: 30px auto;}
            label{display:inline-block; margin-top:12px;font-weight:bold;}
            input,select,textarea{margin-top:4px;}
body{background-color:burlywood;}
h1{color:navy; margin-left:20px;}
p{color:black; margin-left:20px; margin-right:20px;}
nav ul {
list-style-type: none;
background-color: #1B2A4A;
padding: 10px;
}
nav li { display: inline-block; }
nav a {
color: white;
padding: 8px 16px;
text-decoration: none;
}
img {
  float: left;
  margin-right: 15px;
  width: 1200px;
  height: 1200px;  
}
p {
  font-size: 30px;
}