/*Author: TEY JIA HONG, admin number: (261143H)
Author: SEAH XIN EN ISABELLE, (261392R) */

body {background-color: bisque;
font-size: 20px;
}

h1 { color: #5d473b;
text-align:center;
font-size: 43px;
}

h2 {color: darkcyan
}

p {color: #31302b ;
text-align: center;
font-size: 30px;
}

font{
background-color: #f2f2f2;
padding: 10px;
width: 200px; 
}


img { width: 100%;
max-width: 100%; 
height: auto; 
display: block;
}

.column { width: 50%;
}

*{box-sizing: border-box;}

nav a { display: block; }
.card-container{ grid-template-columns: repeat(2,1fr); }
h1 { font-size: 18pt; }
@media (max-width: 380px){
.card-container{ grid-template-columns: 1fr; }}



.site-header{
display: flex;
align-items: center;
padding: 10px 20px;
background-color: #ffffff; }

.site-logo{
height: 40px;
width: auto;
display: block;}

nav ul
{list-style-type: none;
background-color: black;
padding: 0px;
margin: 0px;}

nav li
{display: inline-block;}

.nav a {
color: rgb(255, 255, 255);
padding: 8px 12px;
font-size: 10px;
text-decoration: none; }

nav a:hover
{color: #3498db;
text-decoration: underline;}

ul{display: flex;
flex-wrap: nowrap;
align-items: center;
height: auto;
list-style-type: none;
padding: 0;
margin: 0;}

ul li a
{padding: 10px 15px;
display: inline-block;
color: burlywood;
max-width: 100%;
box-sizing: border-box;}

.navbar{display: flex; 
align-items: center;
padding: 20px;
color: #70482e;}

.nav-container
{ position: absolute;
top: 0;
left: 0;
width: 100%;
height: 60px;}

.main-content{ padding-top: 60px;}

.nav-container ul{
list-style-type: none;
padding: 0px;
margin: 0px;
display: flex;
flex-direction: row;}

.nav-container ul li a{
display: block;
padding: 15px 20px;
color: white;
text-decoration: none;}

.nav-container ul li a:hover{
background-color: #3498db;}


.logo{ 
height:150px; 
width: auto}
.card:hover
{box-shadow: 6px 6px 14px #af4d4d;
transition: 0.3s;}



.card-container {
display: flex;
flex-direction: row;
gap: 16px;}

.card{background: wheat;
padding: 20px;
border-radius:6px;
box-shadow:  4px 4px 10px #7b4a2b;
max-width: 270px;
flex:1;
padding: 12px;
font-size: 30px;}