body{background-color: burlywood}
  h1{ color:rgb(120, 83, 46); text-align:center;} 
  
  h2{color: #49325b;}

.card-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card{ width:80%;
   margin-left: auto; 
   margin-right: auto;}

font{
  background-color: #f2f2f2;
  padding: 10px;
  width: 350px; }

  h1{font size: 100px;}

   img{ width:100%;
     max-width: 280px; 
     height: auto; 
     display: block;}

  body{font-size: 20px;}

                      main{
                        max-width: 10; 
                        margin-left: auto;
                         margin-right: auto; 
                         passing 20px;}

                        .card{padding: 4px; 
                          / *Breathing room*
                          /margin:10px;
                          / *gap to others*
                          / border: 1px solid #DDD;
                        }

                        .card{background: wheat;
                           padding: 20px;
                            border-radius:6px;
                             box-shadow:  4px 4px 10px #7b4a2b;
                              max-width: 270px;
                              flex:1;
                              padding: 12px;
                              font-size: 30px;
                        }
                        nav ul
                        {list-style-type: none;
                         background-color: #2d190d;
                        padding: 20px;}
                        nav li
                        {display: inline-block;}
                        nav a {
                          color: rgb(206, 169, 144);
                          padding: 8px 16px;
                          text-decoration: none;
                        }

                        nav a:hover
                        {background: #5a5246;}
                        .card:hover
                        {box-shadow: 6px 6px 14px #af4d4d;
                        transition: 0.3s;}
                        
                        .navbar{display: flex; 
                        align-items: center;
                      padding: 10px;}

                      .logo{ 
                        height:200px; 
                        width: auto;
                      }

                      .nav-link.actve{
                        color:#ff5722;
                        font-weight: bold;
                        border-bottom: 2px solid #ff5722;
                      }

                  .card-link{
                    text-decoration: none; 
                    color: inherit;
                    display: block;
                  }
                  
                  .card{ cursor: pointer;}

          